
@{
    ViewData["Title"] = "GestionInterne";
}

<h2>Gestion Interne de l'hôtel</h2>

<br />
<br />
<br />
<div>
    <span>
        <a asp-area="" asp-controller="Clients" asp-action="ListeClient" asp-route-id="A">Liste des clients</a>
    </span>
</div>

<br />
<br />
<br />

<div>
    <span>
        <a asp-area="" asp-controller="Chambres" asp-action="Index">Liste des chambres</a>
    </span>
</div>

